<title>Home</title>
{% extends "base.html"%}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="text-white text-center" style="margin-top:15%">

        <!-- <div class="col-md-8">
            <img src="{% static 'images/landing1.jpg' %}" height="500px" width="500px" alt="My image">

        </div> -->
        <h1>Welcome to Hood-Alert</h1>
        <h5 style="margin-top:6%">Get Started by joining a hood today</h5>
       
        

    </div>

</div>

{% endblock %}